<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This will be the content  on the index HTML</h1>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, vel, quia laudantium aliquam at aliquid quas odit ipsam eaque repellat harum quo deserunt qui aut excepturi fugit ullam eligendi velit porro saepe. Officiis, veniam aliquam sint ullam asperiores, quasi, doloribus voluptas distinctio dicta rerum quaerat modi iure iste tempore possimus culpa recusandae! Cupiditate dolore excepturi nesciunt harum voluptas, maxime esse!
    </div>
</body>
</html>